@import "../../assets/style/scss/config";
.container {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 200px auto 0 auto;
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
  .elem {
    position: absolute;
    width: 100%;
    transition: 0.5s;
  }
  &:hover .elem:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
  }
  &:hover .elem:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: 0.8;
  }
  &:hover .elem:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: 0.6;
  }
  &:hover .elem:nth-child(3) {
    transform: translate(40px, -40px);
    opacity: 0.4;
    box-shadow: -32px 17px 61px -4px rgba(150, 150, 150, 0.54);
  }
}
.title-3d {
  position: absolute;
  top: 90px;
  left: 25px;
  font-size: 2.5em;;
  color: #002;
  font-family: $main-font;
  &:hover {
    color: #fff;
  }
}
