@import "../../assets/style/scss/config";
.imgBx {
  position: relative;
  margin: 10px auto;
  width: 400px;
  height: 620px;
  .person {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  .texture {
    width: 100%;
    height: 100%;
  }
  &:hover .texture {
    mix-blend-mode: multiply;
    filter: contrast(1);
  }
}
.title-crack{
  position: absolute;
  top: 90px;
  left: 40px;
  font-size: 2.5em;;
  color: #002;
  font-family: $main-font;
  &:hover{
    color: #fff;
  }
}
